html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

@media (min-width: 960px) {
  .justify-content-lg-between {
    justify-content: space-between;
  }
}

.mt-auto {
  margin-top: auto;
}

.ml-auto {
  margin-left: auto;
}

.p-1 {
  padding: 0.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}