
<form class="d-flex flex-wrap" [formGroup]="form">
  <div class="form-group w-100">
    <label for="name" [class.invalid]="isInvalid('name')">Nome</label>
    <input type="text" id="name" formControlName="name" [class.invalid]="isInvalid('name')">
    <small *ngIf="isInvalid('name')" class="form-text text-danger">
      Campo Obrigatório
    </small>
  </div>
  <div class="form-group w-100 w-md-50">
    <label for="telephone" [class.invalid]="isInvalid('telephone')">Telefone</label>
    <input type="text" id="telephone" formControlName="telephone" [class.invalid]="isInvalid('telephone')">
    <small *ngIf="isInvalid('telephone')" class="form-text text-danger">
      Campo Obrigatório
    </small>
  </div>
  <div class="form-group w-100 w-md-50">
    <label for="email" [class.invalid]="isInvalid('email')">Email</label>
    <input type="email" id="email" formControlName="email" [class.invalid]="isInvalid('email')">
    <small *ngIf="isInvalid('email')" class="form-text text-danger">
      Campo Obrigatório
    </small>
  </div>
  <div class="d-flex justify-content-flex-end">
    <button mat-button mat-dialog-close>Fechar</button>
    <button mat-button color="primary" (click)="submit()" [disabled]="!form || form.invalid">
      <mat-icon>save</mat-icon>
      Adicionar
    </button>
  </div>
</form>